AWS_MAIN_REGION=

AUTHSECRET=

AXIOS_CERT=
AXIOS_KEY=

CERT=
KEY=

JWT_AUTHSECRET=

LOG_LEVEL=

MS_AUTHENTICATION_BASE_URL=
MS_FORM_BASE_URL=
MS_NOTIFICATION_BASE_URL=
MS_PAYMENT_BASE_URL=
MS_USERDATA_BASE_URL=
MS_WATSON_BASE_URL=

FORMSERVICEURL=
WATSONURL=
NAVETURL=
BANKIDURL=

NEW_RELIC_LICENSE_KEY=
NEW_RELIC_LOG=